body {
  background-color: #393E46;
}

h1 {
  margin: 40px 30px 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

button {
  display: block;
  margin: auto;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  color: #4ECCA3;
  text-shadow: 5px 0 #232931;
  padding: 10px 20px;
  background-color: #393E4633;
  border-radius: 5px;
  border: 2px solid;
  box-shadow: 5px 5px 3px #232931;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
  transform: scale(1.02);
  transition: ease-in-out 0.3s;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.animate1 {
  transform: rotate(-540deg);
  transition: 0.7s;
}

.animate2 {
  transform: rotate(540deg);
  transition: 0.7s;
}

